In [1]:
import pandas as pd
import numpy as np
import re
from math import ceil, floor
from random import randint

In [2]:
csv_data = pd.read_csv('data.csv', sep=',')

In [3]:
csv_data

,imei 1/sn,sku_name,activate_time
0,867555052196438,Redmi 9A Sea Blue 3GB RAM 32GB ROM,10/10/2020 11:10
1,862851050440414,Redmi 9A Sea Blue 2GB RAM 32GB ROM,10/10/2020 11:32
2,862851050447211,Redmi 9A Sea Blue 2GB RAM 32GB ROM,10/10/2020 11:32
3,862851050251118,Redmi 9A Sea Blue 2GB RAM 32GB ROM,10/10/2020 12:19
4,867250052667162,Redmi 9 Prime Space Blue 4GB RAM 64GB ROM,10/10/2020 12:57
...,...,...,...
813,860868043367670,Redmi 9A Nature Green 2GB RAM 32GB ROM,11/16/2020 20:37
814,860868042982750,Redmi 9A Nature Green 2GB RAM 32GB ROM,11/16/2020 20:37
815,860868045679973,Redmi 9A Nature Green 2GB RAM 32GB ROM,11/16/2020 20:41
816,860868045677134,Redmi 9A Nature Green 2GB RAM 32GB ROM,11/16/2020 20:42
817,860868045684858,Redmi 9A Nature Green 2GB RAM 32GB ROM,11/16/2020 20:48

In [4]:
names = pd.read_csv('names.csv',sep=',')
names

            Ghandi Goswami
0     Nerurkar Mukopadhyay
1              Taksa Kumar
2           Yateen Rabgyal
3            Manavi Rabten
4                Venu Khan
...                    ...
1712         Supriya Singh
1713             Jinen Rao
1714       Mitun Mukherjee
1715           Imani Sinha
1716      Keerthana Manjhi

[1717 rows x 1 columns]

In [5]:
model_keywords = ["Redmi", "9A", "3GB", "32GB", "2GB","8GB", "4GB", "64GB", "Note", "9", "Pro", "Max", "8A",
                  "Dual","Mi", "A3", "6GB", "128GB", "Prime", "9i", "8", "10T", "Y3"]
def reduced_name(name):
    gen = []
    for key in model_keywords:
        if key in name.split(" "):
            gen.append(key)
    return " ".join(gen)

In [6]:
price_dict= {
    "Redmi 9A 3GB 32GB" : 7500,
    "Redmi 9A 2GB 32GB" : 7000,
    "Redmi 9 Prime 4GB 64GB": 10000,
    "Redmi 9 Prime 4GB 128GB": 12000,
    "Redmi Note 9 Pro Max 6GB 128GB": 18500,
    "Redmi Note 9 Pro Max 6GB 64GB": 17000,
    "Redmi 8A Dual 3GB 64GB":9000,
    "Redmi 8A Dual 3GB 32GB":8300,
    "Redmi 8A Dual 2GB 32GB":7500,
    "Mi A3 4GB 64GB": 13000,
    "Redmi 9 4GB 64GB": 9000,
    "Redmi Note 9 6GB 128GB": 15000,
    "Redmi 9i 4GB 128GB": 9300,
    "Redmi 9i 4GB 64GB": 8300,
    "Redmi Note 9 4GB 128GB": 13500,
    "Redmi Note 9 4GB 64GB": 12000,
    "Redmi Note 9 Pro 4GB 64GB": 14000,
    "Redmi Note 9 Pro 4GB 128GB": 16000,
    "Redmi Note 8 4GB 64GB": 12500,
    "Mi 10T Pro 8GB 128GB": 40000,
    "Redmi Y3 4GB 64GB": 12000,
    "Redmi 9 4GB 128GB": 10000,
}

def get_price(model):
    for model_dict_single in price_dict.keys():
        if set(model.split(" ")) == set(model_dict_single.split(" ")):
            return price_dict[model_dict_single]

def get_roundoff(num):
    ceiled = int(num)
    oneth = int(str(ceiled)[-1])
    if oneth == 5 or oneth == 0:
        return ceiled
    factor = 10 - oneth if oneth != 0 and oneth != 5 and oneth > 5 else (-1 * oneth)
    return ceiled + factor

def serial_no(start, stop, last=5750):
    return last + randint(start, stop)

In [7]:
from datetime import datetime
# noned = []
class Voucher:
    def __init__(self, name, array, index):
        self.index = index
        self.name = name
        self.serial = 0
        self.imei = array[0]
        self.model = reduced_name(array[1])
        self.price = float(get_price(self.model))
        self.cgst =  self.price * 9/100
        self.sgst =  self.price * 9/100
        self.total_price = self.price + self.cgst + self.sgst
        self.roundoff = float(get_roundoff(self.total_price)) - self.total_price
        self.grand_total = self.total_price + self.roundoff
        self.time = datetime.strptime(array[2], "%m/%d/%Y %H:%M")
    def get_time(self):
        return self.time.strftime("%d-%m-%Y")
    def getArray(self, serial):
        self.serial = serial
        return [self.serial,self.name, self.imei, self.model, self.get_time(), self.price, self.cgst, self.sgst, self.roundoff, self.total_price, self.grand_total]

In [8]:
voucher_list =[]
names_values = names.values
for index,data in enumerate(csv_data.values):
    voucher_list.append(Voucher(names_values[index][0], data, index))

In [9]:
voucher_data = []
for index, data in enumerate(voucher_list):
    voucher_data.append(data.getArray(serial_no(1,10, last=voucher_list[index -1].serial if index > 0 else 5750)))

In [10]:
frame = pd.DataFrame(voucher_data, columns=['Serial','Name', 'IMEI', 'Item', 'Time', 'Price','CGST', 'SGST','Round Off', 'Total', 'Grand Total'])

In [11]:
frame
# frame.to_csv('bills.csv')

,Serial,Name,IMEI,Item,Time,Price,CGST,SGST,Round Off,Total,Grand Total
0,5753,Nerurkar Mukopadhyay,867555052196438,Redmi 9A 3GB 32GB,10-10-2020,7500.0,675.0,675.0,0.0,8850.0,8850.0
1,5763,Taksa Kumar,862851050440414,Redmi 9A 32GB 2GB,10-10-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
2,5770,Yateen Rabgyal,862851050447211,Redmi 9A 32GB 2GB,10-10-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
3,5774,Manavi Rabten,862851050251118,Redmi 9A 32GB 2GB,10-10-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
4,5784,Venu Khan,867250052667162,Redmi 4GB 64GB 9 Prime,10-10-2020,10000.0,900.0,900.0,0.0,11800.0,11800.0
...,...,...,...,...,...,...,...,...,...,...,...
813,10176,Vamsi Rabgyal,860868043367670,Redmi 9A 32GB 2GB,16-11-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
814,10178,Pallavi Bhatnagar,860868042982750,Redmi 9A 32GB 2GB,16-11-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
815,10183,Chitrangda Namgyal,860868045679973,Redmi 9A 32GB 2GB,16-11-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
816,10188,Thribhuvana Manjhi,860868045677134,Redmi 9A 32GB 2GB,16-11-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0
817,10196,Maran Venkatesan,860868045684858,Redmi 9A 32GB 2GB,16-11-2020,7000.0,630.0,630.0,0.0,8260.0,8260.0

In [12]:
from fpdf import FPDF

In [13]:
from num2words import num2words
def int_to_en(num):
    return num2words(num).title()

In [14]:
class VoucherPDF:
    def __init__(self, voucher, pdf):
        self.voucher = voucher
        self.pdf = pdf
    def render(self):
        self.pdf.add_page()
        self.header()
        self.body()
        self.footer()
#         self.pdf.output('out.pdf')
    
    def header(self):
        ## Juridiction
        self.pdf.set_font('Arial', 'U', 8)
        self.pdf.cell(0,10, 'SUBJECTED TO GORAKHPUT JURISDICTION', 0, 1, 'C')
        
        ## Invoice No
        self.pdf.set_font('Arial', '', 8)
        self.pdf.cell(13,10,'Invoice No. ', 0,0 ,'C')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(8,10, str(self.voucher.serial), 0,0,'C')
#         self.pdf.cell(0,6,'',0,1,'C')
        ## Date
        self.pdf.set_font('Arial', '', 8)
        self.pdf.cell(86,10, '', 0,0, 'R')
        self.pdf.cell(12,10, 'Date ',0,0,'C')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(12,10, self.voucher.get_time(),0,0,'C')
        
        #Name of My Company
        self.pdf.cell(0,8,'',0,1,'C')
        self.pdf.set_font('Arial', 'B', 10)
        self.pdf.cell(0,4, 'Jaiswal Trading Company',0,1,'C')
        self.pdf.set_font('Arial', '', 8)
        self.pdf.cell(0,4, 'Shop No. 15 Baldev Plaza',0,1,'C')
        self.pdf.cell(0,4, 'Gorakhpur',0,1,'C')
        self.pdf.cell(0,4, f'GSTIN: 09AFCPJ3314B1Z3',0,1,'C')
        self.pdf.set_font('Arial', 'U', 8)
        self.pdf.cell(0,4, 'State Name: Uttar Pradesh, Code: 09',0,1,'C')
        
        # Tax Invoice
        self.pdf.cell(0,4,'',0,1,'C')
        self.pdf.set_font('Arial', 'B', 10)
        self.pdf.cell(0,4, 'Tax Invoice',0,1,'C')
        
        # Name
        self.pdf.cell(0,6,'',0,1,'C')
        self.pdf.set_font('Arial', 'B', 10)
        self.pdf.cell(0,4, self.voucher.name,0,1,'C')
    
    def body(self):
        self.pdf.cell(0,4,'', 0,1,'C')
        
        ### body header
        self.pdf.set_font('Arial', '', 6)
        self.pdf.cell(55,8,'Description of Goods', 1,0,'C')
        self.pdf.cell(20,8,'Quantity', 1,0,'C')
        self.pdf.cell(20,8,'Rate', 1,0,'C')
        self.pdf.cell(10,8,'per', 1,0,'C')
        self.pdf.cell(30,8,'Amount', 1,0,'C')
        
        self.pdf.cell(0,8,'',0,1,'C')
        self.pdf.line(10,78,10,120)
        
        # Item detail
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(55,8, self.voucher.model,0,0,'L')
        self.pdf.line(65,78,65,120)
        self.pdf.cell(20,8,'1 pcs', 0,0,'C')
        self.pdf.line(85,78,85,120)
        self.pdf.cell(20,8,f'{self.voucher.price}', 0,0,'C')
        self.pdf.line(105,78,105,120)
        self.pdf.cell(10,8,'pcs', 0,0,'C')
        self.pdf.line(115,78,115,120)
        self.pdf.cell(30,8,f'{self.voucher.price}', 0,0,'R')
        self.pdf.line(145,78,145,120)
        self.pdf.cell(0,4,'',0,1,'C')
        self.pdf.set_font('Arial', 'BI', 8)
        self.pdf.cell(35,8, str(self.voucher.imei),0,1,'C')

        ## Taxes
        #CGST
        self.pdf.cell(0,8,'',0,1,'C')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(55,8, 'CGST',0,0,'R')
        self.pdf.cell(20,8,'', 0,0,'C')
        self.pdf.cell(20,8,'', 0,0,'C')
        self.pdf.cell(10,8,'', 0,0,'C')
        self.pdf.cell(30,8,f'{self.voucher.cgst}', 0,0,'R')
        
        #SGST
        self.pdf.cell(0,4,'',0,1,'C')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(55,8, 'SGST',0,0,'R')
        self.pdf.cell(20,8,'', 0,0,'C')
        self.pdf.cell(20,8,'', 0,0,'C')
        self.pdf.cell(10,8,'', 0,0,'C')
        self.pdf.cell(30,8,f'{self.voucher.sgst}', 0,0,'R')
        
        # RoundOFF
        self.pdf.cell(0,4,'',0,1,'C')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(55,8, 'Round off',0,0,'R')
        self.pdf.cell(20,8,'', 0,0,'C')
        self.pdf.cell(20,8,'', 0,0,'C')
        self.pdf.cell(10,8,'', 0,0,'C')
        self.pdf.cell(30,8,f'{self.voucher.roundoff}', 0,0,'R')
        
        ## Total
        self.pdf.cell(0,10,'',0,1,'C')
        self.pdf.set_font('Arial', '', 6)
        self.pdf.cell(55,6,'Total', 1,0,'R')
        self.pdf.cell(20,6,'1 pcs', 1,0,'C')
        self.pdf.cell(20,6,'', 1,0,'C')
        self.pdf.cell(10,6,'', 1,0,'C')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(30,6, f'{self.voucher.grand_total}', 1,0,'R')
        
#         self.pdf.cell(0,8,'',0,1,'C')
        self.pdf.line(10,78,10,120)
    
    def footer(self):
        self.pdf.cell(0,6,'',0,1,'C')
        self.pdf.set_font('Arial', '', 6)
        self.pdf.cell(55,6, 'Amount Chargeable(words)',0,0,'L')
        self.pdf.cell(20,6,'', 0,0,'C')
        self.pdf.cell(20,6,'', 0,0,'C')
        self.pdf.cell(10,6,'', 0,0,'C')
        self.pdf.cell(30,6,f'E & O.E', 0,1,'R')
        
        # In words
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(0,4, f'{int_to_en(self.voucher.grand_total)}',0,1,'L')
        
        ## Declaration
        self.pdf.cell(0,10,'',0,1,'C')
        self.pdf.set_font('Arial', 'U', 8)
        self.pdf.cell(10,6,'Declaration', 0,0, 'L')
        self.pdf.set_font('Arial', 'B', 8)
        self.pdf.cell(0,6,'for Jaiswal Trading Company', 0,1, 'R')
        
        self.pdf.set_font('Arial', '', 8)
        self.pdf.cell(0,4, 'We declare that this invoice shows the', 0,1, 'L')
        self.pdf.set_font('Arial', '', 6)
        self.pdf.cell(0,4, 'actual price of goods described and that all particulars are true and correct.', 0,1, 'L')
        
        self.pdf.set_font('Arial', 'B', 6)
        self.pdf.cell(0,6,'Authorised Signatory', 0,1, 'R')
        
        self.pdf.cell(0,10,'',0,1,'C')
        self.pdf.set_font('Arial', 'U', 8)
        self.pdf.cell(0,10,'This is a Computer Generated Invoice',0,1,'C')

In [15]:

pdf = FPDF(orientation='P', format='A5')
for voucher in voucher_list:
    VoucherPDF(voucher, pdf).render()
pdf.output('out.pdf')

''